<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <h3>Current role:</h3>

      <%= @assignement.role.role %>

      <h3>Current project:</h3>

      <%= @assignement.project.name %>

      <br><br>

      <%= link_to "Change your current affectation",'#'%><br>
      <%= link_to "Add new role",'#'%>

        <h3>Your roles and projects: </h3>
      <ul>
        <% @user.assignements.each do |assignement| %>
            <li>Role: <%=assignement.role.role%> / Projet: <%=assignement.project.name%></li>

        <%end%>
      </ul>
    </section>
  </aside>
</div>
