<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "projectus",root_path, id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>

            <% role =role_user(current_user) %>
            <% project = project_user(current_user) %>
            <li><%=link_to role+project,'#'%></li>
            <li><%=link_to "Affectations",affectation_path%></li>
            <li><%=link_to "Users",'#' %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%=link_to "Profile",current_user %></li>
                <li><%=link_to "Settings",'#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path ,method:"delete"%>
                </li>
              </ul>
            </li>
            <%else%>
            <li>
              <%=form_for(:session, url:login_path) do |f|%>

                <%= f.label :cip%>
                <%=f.text_field :cip, size:6%>

                <%=f.label :password %>
                <%=f.password_field :password,size:6%>

                <%=f.label :remember_me do%>
                      <%= f.check_box :remember_me %>
                      <span>Remember me</span>
                  <%end%>

                <%=f.submit "Log in", class:'btn btn-primary'%>

              <%end%>
            </li>
          <% end %>
      </ul>
    </nav>
  </div>

</header>